.container.main {
	position: relative;
	top: 70px;


}

#results { padding:35px 0; padding-bottom:250px; }
	#results DIV.title { font-weight:bold; font-size:15px; }
	#results UL#tweets { position:relative; margin-left:-5px; }
		#results UL#tweets LI { overflow:hidden; margin-bottom:10px; padding:5px 0 5px 5px; }
		#results UL#tweets LI:hover { background:url(images/bg.gif); }
			#results UL#tweets LI DIV.profile-pic { float:left; border:1px solid #e5e5e1; margin-right:8px; position:relative; }
				#results UL#tweets LI DIV.profile-pic IMG { display:block; margin:1px;width:48px;height:48px; }
			#results UL#tweets LI DIV.tweet-body { overflow:hidden; }
				#results UL#tweets LI DIV.tweet-body DIV.twitter-name { font-weight:bold; color:#0066cc; font-size:13px; margin-top:2px; }
				#results UL#tweets LI DIV.tweet-body DIV.twitter-name a {font-weight:bold; color:#0066cc; font-size:13px;text-decoration:none;}
					#results UL#tweets LI DIV.tweet-body DIV.twitter-name SPAN { font-weight:normal; color:#8d8d8d; margin-bottom:5px; }
				#results UL#tweets LI DIV.tweet-body DIV.tweet { color:#2f2f2f; font-size:13px; margin-bottom:7px; }
				#results UL#tweets LI DIV.tweet-body DIV.tweet a {color:#2f2f2f;text-decoration:underline}
#results UL#tweets LI DIV.tweet-body DIV.actions { font-size:11px; }
					#results UL#tweets LI DIV.tweet-body DIV.actions A { display:inline-block; color:#8d8d8d; text-decoration:none; }
					#results UL#tweets LI DIV.tweet-body DIV.actions A:hover { opacity:.8; }
					#results UL#tweets LI DIV.tweet-body DIV.actions SPAN.icon { display:inline-block; vertical-align:top; margin-right:3px; }
					#results UL#tweets LI DIV.tweet-body DIV.actions SPAN.icon.tweet-icon { background:url(../images/png.png) 0 -396px; width:16px; height:12px; }
					#results UL#tweets LI DIV.tweet-body DIV.actions SPAN.icon.reply-icon { background:url(../images/png.png) -26px -396px; width:11px; height:12px; }
					#results UL#tweets LI DIV.tweet-body DIV.actions SPAN.icon.retweet-icon { background:url(../images/png.png) -46px -396px; width:14px; height:8px; margin-top:2px; }
					#results UL#tweets LI DIV.tweet-body DIV.actions SPAN.icon.favorite-icon { background:url(../images/png.png) -70px -396px; width:15px; height:15px; position:relative; margin-top:-2px; }
					
					
					#loader { padding-top:50px; }
						#loader DIV.more-button { width:140px; height:44px; background:url(../images/png.png) 0 -421px; color:#434342; font-size:15px; line-height:40px; cursor:pointer; display:inline-block; }
							#loader DIV.more-button:hover { background:url(../images/png.png) -152px -421px; }
						#loader IMG { vertical-align:top; position:relative; margin-top:-10px; margin-right:6px; }

.border {
		width: 500px;
		min-height: 50%;
		position:relative;
		float:left;
		margin: 0 auto 0 auto;
		/*background-color: white;*/
		background-color: rgba(255, 255, 255, 0.3);
		border: 1px solid #ccc;
		display: block;
		/*opacity:0.5;*/
		/*box-shadow: 6px 0px 10px -4px #000, -6px 0px 10px -4px #000;*/
		 -moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		
		}



#border {
		width: 900px;
		min-height: 50%;
		position:relative;
		float:left;
		margin: 0 auto 0 auto;
		/*background-color: white;*/
		background-color: rgba(255, 255, 255, 0.3);
		border: 1px solid #ccc;
		display: block;
		/*opacity:0.5;*/
		/*box-shadow: 6px 0px 10px -4px #000, -6px 0px 10px -4px #000;*/
		 -moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		
		}
		 /* Default Facebook CSS */
            .fbbody
            {
                font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
                font-size: 11px;
                color: #333333;
            }
            /* Default Anchor Style */
            .fbbody a
            {
                color: #3b5998;
                outline-style: none;
                text-decoration: none;
                font-size: 11px;
               // font-weight: bold;
            }
            .fbbody a:hover
            {
                text-decoration: underline;
            }
            /* Facebook Box Styles */
            .fbgreybox
            {
                background-color: #f7f7f7;
                border: 1px solid #cccccc;
                color: #333333;
                padding: 10px;
                font-size: 13px;
                font-weight: bold;
            }
            .fbbluebox
            {
                background-color: #eceff6;
                border: 1px solid #d4dae8;
                color: #333333;
                padding: 10px;
                font-size: 13px;
                font-weight: bold;
            }
            .fbinfobox
            {
                background-color: #fff9d7;
                border: 1px solid #e2c822;
                color: #333333;
                padding: 10px;
                font-size: 13px;
                font-weight: bold;
            }
            .fberrorbox
            {
                background-color: #ffebe8;
                border: 1px solid #dd3c10;
                color: #333333;
                padding: 10px;
                font-size: 13px;
                font-weight: bold;
            }
            /* Content Divider on White Background */
            .fbcontentdivider
            {
                margin-top: 15px;
                margin-bottom: 15px;
                width: 520px;
                height: 1px;
                background-color: #d8dfea;
            }
            /* Facebook Tab Style */
            .fbtab
            {
                padding: 8px;
                background-color: #d8dfea;
                color: #3b5998;
                font-weight: bold;
                float: left;
                margin-right: 4px;
                text-decoration: none;
            }
            .fbtab:hover
            {
                background-color: #3b5998;
                color: #ffffff;
                cursor: hand;
            }

	.button {
		padding: 2px 3	px;
		display: inline;
		background: #777 url(button.png) repeat-x bottom;
		border: none;
		color: #fff;
		cursor: pointer;
		font-weight: bold;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-shadow: 1px 1px #666;
		margin-left:10px;
		margin-bottom:5px;
		font-family:Century Gothic, sans-serif;
		font-size:12;
		}
	.button:hover {
		background-position: 0 center;
		}
	.button:active {
		background-position: 0 top;
		position: relative;
		top: 1px;
		padding: 6px 10px 4px;
		}
	.button.red { background-color: #e50000; }
	.button.purple { background-color: #9400bf; }
	.button.green { background-color: #58aa00; }
	.button.fb { background-color: #0066cc; }
	.button.twitter { background-color: #00bfff; }
	.button.both { background-color: #333; }
	.button.white { background-color: #fff; color: #000; text-shadow: 1px 1px #fff; }
	.button.small { font-size: 75%; padding: 3px 7px; }
	.button.small:active { padding: 4px 7px 2px; background-position: 0 top; }
	.button.large { font-size: 125%; padding: 7px 12px; }
	.button.large:active { padding: 8px 12px 6px; background-position: 0 top; }