<!--ABOUT US-->
<HTML>
<head>
	<title> Meet the ABCMS Team </title>
	<script src="/static/jquery.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/json2.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/underscore-1.2.2.js" type="text/javascript"></script>
	<script src="/static/backbone/backbone.js" type="text/javascript"></script>
	<link href="/static/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
	<link href="/static/style.css" rel="stylesheet" type="text/css">
	
</head>
<body style="background-color:#fff8dc;">

	<!--HEADER-->
		<div style="background-color:#333; height:112px" ></br>
			<img src="/static/f1.png" width="70" height="30" style="margin-left:150;float:left;position:relative;"/>
			<img src="/static/f2.png" width="70" height="30" style="margin-left:10;float:left;position:relative;"/>
			<img src="/static/meet.png" height"20" width="30" style=" height:200; width:300; margin-left:190;float:left;position:relative; top:-10" />
			
		</div>
	<!--content-->
		
		<div id="border" style="min-height: 100; min-width:99.8%; position:relative; top:-105" >
		<a href="/home" style="float:right;margin-right:5;">Home</a>	
		<div style="margin-left:130">
			
			<!--Arvin-->
			<div style="margin-left:150px;position:relative;top:40px;font-family:cambria, sans-serif; height:100 ">
				<img src="/static/group/6.jpg" style="height:150; width:120;"><b><a target="_blank" href="http://www.facebook.com/arvin.to.1" style="margin-left:-130px;position:relative;top:100px;">John Arvin V. Aboque
				<b style="margin-left:-100px;position:relative;top:20px;">	BSCOE V-4 </a></b></b></img>
			</div></br>
			<!--Yang-->
			<div style="margin-left:480px;position:relative;top:-75px;font-family:cambria, sans-serif; height:100 ">
				<img src="/static/group/7.jpg" style="height:150; width:120;"><b><a target="_blank" href="http://www.facebook.com/leeyayangah" style="margin-left:-120px;position:relative;top:100px;">Dianne Lee J. Bareng <b style="margin-left:-100px;position:relative;top:20px;"> BSCOE V-4 </a></b></b></img>
			</div></br>
			<!--Shiela-->
			<div style="margin-left:830px;position:relative;top:-190px;font-family:cambria, sans-serif; height:100">
				<img src="/static/group/9.jpg" style="height:150; width:120;"><b><a target="_blank" href="http://www.facebook.com/eihsj" style="margin-left:-120px;position:relative;top:100px;">Shiela Marie R. Cabangan <b style="margin-left:-120px;position:relative;top:20px;"> BSCOE V-4 </a></b></b></img>
			</div>
			<!--Kah-->
			<div style="margin-left:300px; position:relative; top:-70px; font-family:cambria, sans-serif; height:100">
				<img src="/static/group/10.jpg" style="height:150; width:120;"><b><a target="_blank" href="http://www.facebook.com/xoxonicaloves" style="margin-left:-140px;position:relative;top:100px;">Nica Karen C. Mayores <b style="margin-left:-100px;position:relative;top:20px;"> BSCOE V-4 </a></b></b></img>
			</div>
			<!--Sam-->
			<div style="margin-left:640px;position:relative;top:-170px;font-family:cambria, sans-serif; height:100 ">
				<img src="/static/group/8.jpg" style="height:150; width:120;"><b><a target="_blank" href="http://www.facebook.com/ricsam.samodio" style="margin-left:-140px;position:relative;top:100px;">Ricardo H. Samodio, Jr. <b style="margin-left:-100px;position:relative;top:20px; "> BSCOE V-4 </a></b></b></img>
			</div>
		</div>
	</div>
	
</body>
</html>